<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main 페이지</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="user-info">00님</div>
        <button class="logout-button">로그아웃</button>
    </div>
    <nav class="navigation">
        <a href="#">mohaji 온라인강의 소개</a>
        <a href="/myPage">나의 강의실</a>
        <a href="#">수강신청</a>
    </nav>
    <figure class="figure">
        <!-- 수강신청 내용이 여기에 들어갈 것입니다 -->
    </figure>
</div>
</body>
</html>